.table-spacing{
    
    margin-left: 13%;
   padding: 6em;
    display: grid;
    grid-template-columns: repeat(4, 20em);
   /*grid-auto-rows: 40%;*/
    column-gap: 1em;
    row-gap: 1em;
    position: relative;
    z-index: 1;
    
  
}
.filterPos{
    position: fixed;
    z-index: 2;
    margin-left: 72%;
   
}
