
.car_block {
  margin-top: 7%;
  width: 77em;
  height: 30em;
  margin-left: 24em;
  display: inline-block;
  position: relative;
}

.contacs {
  width: 23em;
  height: 25em;
  margin-left: 78em;
  position: absolute;
  overflow: auto; 
}
.car_block2{
    width: 77em;
    height: 40em;
    margin-top: 40%;
    overflow: auto; 
    padding: 20px;
    margin-bottom: 8%;
    position: relative;
   
}

/* Target the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* set the width of the scrollbar */
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* set the background color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* set the color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* set the color of the scrollbar handle on hover */
  }