.table-spacing{
    
    margin-left: 11%;
   padding: 6em;
    display: grid;
    grid-template-columns: repeat(4, 21em);
   /*grid-auto-rows: 40%;*/
    column-gap: 1em;
    row-gap: 1em;
    position: relative;
    z-index: 1;
    
  
}